body {
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}

button.btn.btn-get-pokemons {
  padding: 1.5rem;
  font-size: 1.5rem;
  background: black;
  color: white;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.pokemon-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
