body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}

button.btn.btn-get-pokemons {
  padding: 1.5rem;
  font-size: 1.5rem;
  background: black;
  color: white;
}
